/********************************************************
*               Customize alert message                 *
*********************************************************/
.custom-alert {
    border-radius: 10px;
    padding: 15px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: 500;
    width: 60%;
}

.alert-success {
    background-color: #E6F4EA;
    border-color: #A3D9A5;
    color: #237A3D;
}

.alert-primary {
    background-color: #E8F0FE;
    border-color: #A7C7F7;
    color: #1756A9;
}

.alert-warning {
    background-color: #FEF7E0;
    border-color: #F0C75E;
    color: #8F6500;
}

.alert-danger {
    background-color: #FEECEC;
    border-color: #EFA8A8;
    color: #B00020;
}

.btn-close {
    opacity: 0.7;
    /* min-height: 5px; */
}
.btn-close:hover {
    opacity: 1;
}

.icon-alert-danger {
    height: 20px;
    width: 100%;
    /* background-color:#ffffff9d; */
    padding: 2px 5px 2px 5px;
    border-radius: 50px;
    color: #B00020;
}

.icon-alert-info {
    height: 20px;
    width: 100%;
    /* background-color:#ffffff9d; */
    padding: 2px 5px 2px 5px;
    border-radius: 50px;
    color: #1756A9;
}

.alert-icon {
    display: flex;               /* Active Flexbox */
    align-items: center;         /* Centre verticalement */
    justify-content: center;     /* Centre horizontalement */
    width: 45px;                 /* Largeur du conteneur */
    height: 45px;                /* Hauteur du conteneur */
    border-radius: 50%;          /* Bordures arrondies */
    /* background-color: #A3D9A5; Fond clair */
    /* background-color: #E6F4EA; Fond clair */
}

.alert-icon-success {
    background-color: #A3D9A5; /* Fond clair */
    /* color: #237A3D; */
}

.alert-icon-primary {
    background-color: #A7C7F7;
}

.alert-icon-warning {
    background-color: #F0C75E;
}

.alert-icon-danger {
    background-color: #EFA8A8;
}

.alert-icon span {
    font-size: 20px; /* Ajuste la taille de l'emoji */
}

.alert-fixed-center {
    position: fixed;
    top: 20%;
    width: 50%;
    left: 35%;
    z-index: 9999;
    /* opacity: 98%; */
}

.alert-title {
    font-size: 18px;
    font-weight: bold;
}

/********************************************************
*               Customize status class                  *
*********************************************************/
.status {
    padding: 1.5px 8px 1.5px 8px;
    border-radius: 30px;
    font-size: 15px;
    align-items: center;
    font-weight: bold;
}

.status2-success {
    color: #0fac82;
    /* background-color: #ddfff3; */
}

.status2-warning {
    color: #ff9b00;
    /* background-color: #fef7ea;* #fbe8ca; */
}

.status2-danger {
    color: #cf2213;
    /* background-color: #fdc5c5; */
}


.status-success {
    border: 0.5px solid #ddfff3;
    color: #3dc094; /** #58be9c */
    background-color: #ddfff3;
    padding: 1.5px 18px 1.5px 18px;
    border-radius: 50px;
}

.status-danger {
    border: 0.5px solid #fff1e8;
    color: #e34d2f; /** #ea745c */
    background-color: #fff1e8;
    padding: 1.5px 12px 1.5px 12px;
    border-radius: 50px;
}

.status-size-12 {
    font-size: 12px;
}
/* .btn-primary {
    background-color: #ff5733 !important; /* Nouvelle couleur de fond 
    border-color: #ff5733 !important;  Nouvelle couleur de bordure 
} */


/********************************************************
*               Customize DataTable class               *
*********************************************************/
    /* Bordure externe du tableau */
    #Table.table.dataTable {
        border: 1px solid #dee2e6; /* Gris clair */
        border-radius: 45px; /* Coins légèrement arrondis */
        border-collapse: collapse; /* Éviter les espaces entre les bordures */
        width: 100%; /* Assurer une bonne mise en page */
    }

    /* Lignes internes entre les rangées */
    .table.dataTable tbody tr {
        border-bottom: 1px solid #ebeaea; /* Gris clair */
        /* border-bottom: 1px solid #dee2e6; Gris clair */
    }

    /* Effet hover léger */
    .table.dataTable tbody tr:hover {
        background-color: #f8f9fc; /* Gris clair au survol */
    }

    /* Alignement des en-têtes */
    .table.dataTable thead th {
         background-color: #0a0a33;/* Bleu foncé comme sur ton image */
        /* background-color: #e4e4e4;  */
        color: #ececfc;
        text-align: left;
    }

    /* Espacement et padding pour un rendu propre */
    .table.dataTable th, .table.dataTable td {
        padding: 10px 15px;
    }

    /************ Old CSS  **********/
    .table th, .table td {
        vertical-align: middle;
    }

    .table.table.dataTable{
        margin-bottom: 10px;
    }
    /* .table-bordered {
        border-color: #efefef;
    } */

    .dt-search {
        margin-bottom: 12px;
    }
