.flashy {
    font-family: "Source Sans Pro", Arial, sans-serif;
    padding: 11px 30px;
    border-radius: 4px;
    font-weight: 400;
    position: fixed;
    /* bottom: 20px; */
    top: 58px;
    right: 35px;
    font-size: 16px;
    color: #06691d;
    opacity: 70%;
}

.flashy-success {
    background-color: #06691d;
    color: #fff;
}

.flashy-danger {
    background: #d14130;
    color: #fff;
}

.flashy-message {
    margin-left: 8px;
}